body{
 font-family: Arial;
background-color: rgba(4, 24, 73, 1);
padding: 30px;
color: #333;

}

.app {
 max-width: 600px;
 margin: 0 auto 300px;
   background-color:rgba(217, 217, 217, 1) ;
   padding: 20px 30px;
   border-radius: 10px;
}

h1 {
  text-align: center;
}
h2{
  margin-bottom: 10px; ;
}
p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}

button{
  background-color: rgba(4, 24, 73, 1) ;
  color: rgba(217, 217, 217, 1);
  padding: 5px 10px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover{
  opacity: 1;
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(4, 24, 73, 1);
}
.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
  width: 100%;
  overflow: hidden; 
  width: auto;
}

.complete{
  background-color: #5cb85c;
  margin: 10px 15px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit{
  background-color:  rgb(4, 24, 73,);
  margin: 10px 15px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.remove{
  background-color: rgba(235, 18, 18, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px 15px 10px 0;
  
}

.todo-form{
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  
}
.content {
  flex-grow: 1;
  white-space: normal; /* Permite quebra de linha automática */
  word-wrap: break-word; /* Garante que palavras longas quebrem */
  overflow-wrap: break-word; /* Outra forma de garantir a quebra de palavras */
} 



.urgencia {
  background-color: red; 
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
}

.complete-urgency {
  background-color: green; 
}



